<div class="container">
    <h3 class="text-center mt-5 mb-5"> Pagination </h3>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Gifs</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
          let gif of gifs
              | paginate
                : {
                    itemsPerPage: tableSize,
                    currentPage: page,
                    totalItems: count
                  };
            let i = index
          "
        >
          <th scope="row">{{ gif.id }}</th>
          <td> <img [src]="gif.images.downsized.url" alt="Image"></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      >
      </pagination-controls>
    </div>
  </div>
